:root {
  --white: #F8FAFC;
  --orange: #E9A23B;
  --ligth-orange: #F5D565;
  --bone: #F5E8D5;
  --green: #32D657;
  --ligth-green: #A0ECB1;
  --red: #DD524C;
  --ligth-red: #F7D4D3;
  --grey: #97A3B6;
  --ligth-grey: #E3E8EF;
  --blue: #3662E3;
  --black: #000033;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}