.close_details {
    display: flex;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--ligth-grey);

    background-color: white;

    padding: 0.3rem;

    cursor: pointer;
}